.mycontact {
  height: 100%;
  max-width: 100%;
  /* padding: 6rem 0; */
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.phone {
  text-align: center;
  padding-top: 2%;
  padding-bottom: 20px;
}
.email {
  text-align: center;
}
.info {
  text-align: center;
  padding-top: 300px;
  padding-bottom: 20px;
}
.linked {
  text-align: center;
  padding-top: 20px;
}
.github {
  text-align: center;
  padding-top: 20px;
}
.github h4 {
  margin-right: 10px;
}
/* .mycontact .phone {
  position: absolute;
  /* transform: translate(-50%, -50%); */
/* top: 50%;
  left: 50%;
  text-align: center;
  padding-bottom: 20px;
}
.mycontact .email {
  position: absolute;
  margin: 30px 30px;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 10px;
} */
